.navbar-menu a{
    text-decoration: none;
}
   
.col-md-6{
    margin: 10px;
}

.form-group{
    margin: 5px;
}

body{
    background-image: url(bk1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
